/* Global selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Body styling */
body {
    background-color: #f9f7f0;
    color: #25200e;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    background-color: #f5f1e5;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    padding: 25px 100px;
}

.logo {
    font-size: 30px;
    color: #5169bd;
    text-decoration: none;
    font-weight: 800;
}

.logo:hover {
    color: #9facdb;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style-type: none;
}

nav a {
    font-size: 16px;
    color: #25200e;
    font-weight: 600;
    text-decoration: none;
    margin-left: 50px;
}

nav a:hover {
    color: #9facdb;
}

/* Hero */
#Home {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.img-hero {
    max-width: 650px;
    height: auto;
}

.left {
    width: 35%;
}

.left h1 {
    font-size: 36px;
    letter-spacing: 2px;
    color: #9facdb;
    text-transform: uppercase;
}

.left h1 span {
    color: #5169bd;
    font-style: italic;
}

.left p {
    line-height: 30px;
}

/* Meditation techniques */

#Meditation {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 100px;
    width: 80%;
    margin: auto;
}

.introduction {
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 4em;

}

.introduction h2 {
    font-size: 28px;
    letter-spacing: 2px;
    color: #9facdb;
    text-transform: uppercase;
}

.introduction h2 span {
    color: #5169bd;
    font-style: italic;
}

.introduction p {
    line-height: 26px;
}

.meditation-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;

}

.meditation-content-left {
    width: 40%;
    padding-right: 2em;
}

.meditation-content-left h2 {
    font-size: 28px;
    letter-spacing: 2px;
    color: #9facdb;
    text-transform: uppercase;
}

.meditation-content-left p {
    line-height: 26px;
}

.meditation-content-left h2 span {
    color: #5169bd;
    font-style: italic;
}

.meditation-content-left p a {
    color: #9facdb;
    text-decoration: none;
}

.meditation-content-left p a:hover {
    color: #5169bd;
}

.meditation-content-right {
    max-width: 650px;
    height: auto;
    padding-right: 2em;
}

video {
    height: auto;
    width: 100%;
}

/* About Us */

#About {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 100px;
    width: 65%;
    margin: auto;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 4em;
}

.about-container img {
    height: 35%;
    width: 50%;
}

.about-container h2 {
    font-size: 28px;
    letter-spacing: 2px;
    color: #9facdb;
    text-transform: uppercase;
}

.about-container p {
    line-height: 26px;
}

/* Contact */

#Contact {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 100px;
    width: 80%;
    margin: auto;
}

.contact-container {
    padding: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

}

.contact-container .form {
    width: 50%;
    margin: 0 auto;

}

.contact-container .form h2 {
    font-size: 2rem;
    color: #9facdb;
    padding-bottom: 10px;
    width: 100%;
}

.contact-container .form .submit {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-container .form .submit input,
.contact-container .form .submit textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #111;
    outline: none;
    margin: 13px 0;
}

.contact-container .form .submit input:focus,
.contact-container .form .submit textarea:focus {
    border: 1px solid #5169bd;
}

.contact-container .form .submit input::placeholder {
    color: #25200e;
    font-size: 1.1rem;
}

.contact-container .form .submit textarea::placeholder {
    color: #25200e;
    font-size: 1.1rem;
    height: 80%;
}

.contact-container .form .submit a {
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    background: #5169bd;
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    margin: 13px 0;
}

.contact-container .form .submit a:hover {
    background: #9facdb;
}

/* Footer */

footer {
    text-align: center;
    padding: 1.5rem 4rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#social-links {
    display: flex;
    list-style-type: none;
}

#social-links i {
    font-size: 160%;
    padding-right: 2rem;
    color: #9facdb;
}

#social-links i:hover {
    font-size: 160%;
    padding-right: 2rem;
    color: #5169bd;
}

/* Media queries */

@media (max-width: 480px) {
    /* Header */

    header {
        display: flex;
        justify-content: space-between;
        background-color: #f5f1e5;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 99;
        width: 100%;
        padding: 30px 50px;
    }

    .logo {
        font-size: 24px;
        color: #5169bd;
        text-decoration: none;
        font-weight: 800;
    }

    .logo:hover {
        color: #9facdb;
    }

    #menu {
        font-size: 110%;
        letter-spacing: 4px;
        list-style-type: none;
    }

    #menu>li {
        margin-bottom: 1em;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav a {
        font-size: 24px;
        color: #25200e;
        font-weight: 600;
        text-decoration: none;
        margin-left: 50px;
    }

    nav a:hover {
        color: #9facdb;
    }

    /* Hero */
    #Home {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding-top: 50px;
        align-items: center;
        justify-content: center;
    }

    .img-hero {
        max-width: 350px;
        height: auto;
    }

    .left {
        width: 80%;
    }

    .left h1 {
        padding-top: 180px;
        font-size: 24px;
        letter-spacing: 2px;
        color: #9facdb;
        text-transform: uppercase;
    }

    .left h1 span {
        color: #5169bd;
        font-style: italic;
    }

    .left p {
        padding-top: 10px;
        line-height: 30px;
        font-size: 18px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 1024px) {}