/* Global selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    background-color: #f9f7f0;
    color: #25200e;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    padding: 35px 100px;
}

.logo {
    font-size: 30px;
    color: #5169bd;
    text-decoration: none;
    font-weight: 800;
}

.logo:hover {
    color: #9facdb;
}

nav a {
    font-size: 16px;
    color: #25200e;
    font-weight: 600;
    text-decoration: none;
    margin-left: 50px;
}

nav a:hover {
    color: #9facdb;
}

/* Hero */
#Home {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.img-hero {
    max-width: 650px;
    height: auto;
}

.left {
    width: 35%;
}

.left h1 {
    font-size: 36px;
    letter-spacing: 2px;
    color: #9facdb;
    text-transform: uppercase;
}

.left h1 span {
    color: #5169bd;
    font-style: italic;
}

.left p {
    line-height: 30px;
}

/* Meditation techniques */

#Meditation {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 100px;
    width: 80%;
    margin: auto;
}

.introduction {
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 4em;

}

.introduction h2 {
    font-size: 28px;
    letter-spacing: 2px;
    color: #9facdb;
    text-transform: uppercase;
}

.introduction h2 span {
    color: #5169bd;
    font-style: italic;
}

.introduction p {
    line-height: 26px;
}

.meditation-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;

}

.meditation-content-left {
    width: 40%;
    padding-right: 2em;
}

.meditation-content-left h2 {
    font-size: 28px;
    letter-spacing: 2px;
    color: #9facdb;
    text-transform: uppercase;
}

.meditation-content-left p {
    line-height: 26px;
}

.meditation-content-left h2 span {
    color: #5169bd;
    font-style: italic;
}

.meditation-content-left p a {
    color: #9facdb;
    text-decoration: none;
}

.meditation-content-left p a:hover {
    color: #5169bd;
}

.meditation-content-right {
    max-width: 650px;
    height: auto;
    padding-right: 2em;
}

video {
    height: auto;
    width: 100%;
}

/* About Us */

#About {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 100px;
    width: 65%;
    margin: auto;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 4em;
}

.about-container img {
    height: 35%;
    width: 50%;
}

.about-container h2 {
    font-size: 28px;
    letter-spacing: 2px;
    color: #9facdb;
    text-transform: uppercase;
}

.about-container p {
    line-height: 26px;
}

/* Contact */