/* Global selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    background: url('../images/hero.png') no-repeat;
    background-size: contain;
    background-position: center;
    color: #25200e;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;

}

/* Header */